h1{ color: aquamarine;}

#id1 {background-color: darkkhaki;}

.class1{background-color: lightsalmon;}

a
{ background-color: chartreuse;
    display: block;

}

.class2.class3 { background-color: fuchsia;}

.class2.class3 p{background-color: cornsilk;}

.class6 {
    border: 5px black;
    background-color: blue;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 150px;
    padding-left: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80;
}

.class3 {
    margin: 100px 100px 150px 200px ;
}

a:link {
color: crimson;
}

a:visited {
    color: chartreuse;
}

a:hover {
    color: blue; /* když na odkaz najedu myší*/
}

a:active {
    text-decoration: underline
}

a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0px;
    padding: 100px;
    border: 5px solid black;
}
/* inline elementy nemaji margin a padding, respektive maji ale jsou k nicemu*/

.kk {
    margin-bottom: 100px;
}

#aha {
    background-color: coral;
    width: 200px;
    height: 100px;
    overflow: scroll;/*urcuje chovani textu, když se nevleze do elementu*/
 } 